/* line 7, ../sass/try responsive.scss */
.parallax {
  background-image: url("/home/innoraft/html/Halcyon_Days/images/hero-bg.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* line 18, ../sass/try responsive.scss */
.float-right {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  padding-right: 100px;
  padding-top: 100px;
  padding-left: 350px;
  padding-bottom: 500px;
}

/* line 28, ../sass/try responsive.scss */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* line 36, ../sass/try responsive.scss */
.float-right {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  padding-right: 100px;
  padding-top: 100px;
  padding-left: 350px;
  padding-bottom: 500px;
}

/* line 46, ../sass/try responsive.scss */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* line 55, ../sass/try responsive.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
/* line 59, ../sass/try responsive.scss */
.change .bar2 {
  opacity: 0;
}
/* line 62, ../sass/try responsive.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* line 68, ../sass/try responsive.scss */
.button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3dc9b3;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 0px 3px 0px 0px #309383;
  font-family: "Varela Round", sans-serif;
}

/* line 88, ../sass/try responsive.scss */
#intro {
  background-color: whitesmoke;
  padding-top: 20px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 97, ../sass/try responsive.scss */
.fadeInDown {
  font-size: 40px;
  letter-spacing: 12px;
  margin: 10px;
  color: #353535;
  font-family: "Varela Round", sans-serif;
}

/* line 106, ../sass/try responsive.scss */
.fadeInUp {
  display: block;
  font-family: "Varela Round", sans-serif;
  color: #8c9398;
}

/* line 112, ../sass/try responsive.scss */
#h1, #h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  padding-top: 80px;
  padding-bottom: 10px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
}

/* line 123, ../sass/try responsive.scss */
.blockquote {
  color: #8c9398;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
}

/* line 129, ../sass/try responsive.scss */
#a1 {
  color: black;
  font-family: "Varela Round", sans-serif;
}

/* line 134, ../sass/try responsive.scss */
#s1 {
  color: #a1a9b0;
  display: inline-block;
}

/* line 139, ../sass/try responsive.scss */
.intro2 {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 147, ../sass/try responsive.scss */
.icon {
  height: 175px;
  width: 175px;
  line-height: 175px;
  max-width: 150%;
  background-color: #3dc9b3;
  border-radius: 100%;
  display: block;
  overflow: hidden;
  color: #fff;
  font-size: 60px;
  text-align: center;
  text-shadow: #36c0a4 1px 1px, #36c0a4 2px 2px, #36c0a4 3px 3px, #36c0a4 4px 4px, #36c0a4 5px 5px, #36c0a4 6px 6px, #36c0a4 7px 7px, #36c0a4 8px 8px, #36c0a4 9px 9px, #36c0a4 10px 10px, #36c0a4 11px 11px, #36c0a4 12px 12px, #36c0a4 13px 13px, #36c0a4 14px 14px, #36c0a4 15px 15px, #36c0a4 16px 16px, #37c0a4 17px 17px, #37c0a4 18px 18px, #37c0a4 19px 19px, #37c0a4 20px 20px, #37c0a4 21px 21px, #37c0a4 22px 22px, #37c0a4 23px 23px, #12c0a4 24px 24px, #12c0a4 25px 25px, #12c0a4 26px 26px, #12c0a4 27px 27px, #12c0a4 28px 28px, #12c0a4 29px 29px, #12c0a4 30px 30px, #37c0a4 31px 31px, #12c0a4 32px 32px, #12c0a4 33px 33px, #12c0a4 34px 34px, #12c0a4 35px 35px, #12c0a4 36px 36px, #12c0a4 37px 37px, #12c0a4 38px 38px, #12c0a4 39px 39px, #12c0a4 40px 40px, #37c0a4 41px 41px, #12c0a4 42px 42px, #12c0a4 43px 43px, #12c0a4 44px 44px, #12c0a4 45px 45px, #12c0a4 46px 46px, #12c0a4 47px 47px, #12c0a4 48px 48px, #12c0a4 49px 49px, #12c0a4 50px 50px, #37c0a4 51px 51px, #12c0a4 52px 52px, #12c0a4 53px 53px, #12c0a4 54px 54px, #12c0a4 55px 55px, #12c0a4 56px 56px, #12c0a4 57px 57px, #12c0a4 58px 58px, #12c0a4 59px 59px, #12c0a4 60px 60px;
  vertical-align: middle;
  position: relative;
  margin: 0 auto 50px;
  box-sizing: border-box;
}

/* line 166, ../sass/try responsive.scss */
#a2 {
  color: #353535;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
}

/* line 173, ../sass/try responsive.scss */
.leftHalf {
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  position: absolute;
  left: 56px;
  height: 100%;
}

/* line 182, ../sass/try responsive.scss */
p {
  color: #8c9398;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 14px;
  margin: 1em 0;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 192, ../sass/try responsive.scss */
.myCarousel {
  text-align: center;
  background-color: white;
  position: absolute;
  width: 50%;
  right: 0px;
  height: 100%;
  float: right;
  display: block;
}

/* line 203, ../sass/try responsive.scss */
#h3 {
  padding-left: 200px;
}

/* line 206, ../sass/try responsive.scss */
hr {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 11em;
  margin-right: 11em;
  border-top: 3px solid #3dc9b3;
}

/* line 216, ../sass/try responsive.scss */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2px 2px;
  background-color: #fff;
  border-radius: 50%;
  border-width: 3px;
  display: inline-block;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: background-color 0.6s ease;
}

/* line 228, ../sass/try responsive.scss */
.dot:hover {
  background-color: #000;
}

/* line 232, ../sass/try responsive.scss */
#paralx {
  background-image: url(/home/innoraft/html/Halcyon_Days/images/plants-bg.jpg);
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* line 242, ../sass/try responsive.scss */
#text1 {
  padding-top: 20px;
  font-size: 60px;
  letter-spacing: 12px;
  margin: 10px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
}
